@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary: #1A1A1D;
  --secondary: #4E4E50;
  --accent: #EBC944;
  --dark: black;
  --light: white;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.paper-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url("https://img.freepik.com/premium-photo/grunge-grain-texture-overlay-design-background_27550-476.jpg");
  mix-blend-mode: overlay;
  opacity: 70%;
  pointer-events: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary);
  color: var(--light);
  font-weight: lighter;
  line-height: 1.7rem;
}

section {
  min-height: 100vh;
  margin: auto;
  width: 85%;
  max-width: 900px;
  padding-block: 2rem;
}

/* NAVBAR STYLES */
nav {
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 1;
  padding: 2rem 4rem;
  background-color: var(--dark);
}

nav > ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

nav > ul > li{
  display: block;
  position: relative;
  font-size: 0.9em;
  font-weight: bold;
  transition-duration: 200ms;
}

ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid var(--accent);
  transition: 500ms;
  transform: scaleX(0);
  padding-bottom: 1.4rem;
  z-index: -1;
}

ul li a:hover:before{
  transition: transform 0.5s;
  transform: scaleX(1);
}

a, ul {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 6em;
  color: var(--accent);
  line-height: 5rem;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 2.8em;
  margin-block: 2rem;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 1.5em;
}

/* MAIN CONTENT */
#hero-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.skills-container h2 {
  grid-column: span 2;
}

h4 {
  font-weight: bold;
  color: var(--accent);
  text-transform: uppercase;
}

.projects-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.project {
  display: grid;
  max-width: 180px;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--accent);
}

.repo-link {
  justify-self: end;
  padding: 0.2rem 0.3rem;
  background-color: var(--primary);
  border-radius: 2px;
  align-self: end;
  margin-top: 0.5rem;
  transition-duration: 500ms;
}

.repo-link:hover {
  box-shadow: 0 0 20px 2px var(--light);
}

.project p {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 2px 0px var(--dark));
  transition-duration: 500ms;
}

.project img:hover {
  filter: drop-shadow(5px 2px 0px var(--light));
}

button {
  background-color: var(--accent);
  border: 2px solid var(--dark);
  border-radius: 30px;
  box-shadow: var(--dark) 4px 4px 0 0;
  color: var(--dark);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  transition-duration: 500ms;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--secondary);
}

/* FOOTER STYLES */
footer {
  width: 100%;
  padding-block: 1rem;
  text-align: center;
  background-color: var(--dark);
}

form {
  border-bottom: 2px solid var(--accent);
  padding-block: 1.5rem;
  margin-inline: 1.2rem;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 900px;
  margin: 1.5rem auto;
}

#name_input, #subject_input, #message_input {
  grid-column: span 2;
}

input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  color: var(--light);
  background-color: var(--primary);
  border: none;
  line-height: 1.8rem;
  padding: 0.2rem;
  margin: 0.2rem;
  z-index: 1;
}

::placeholder {
  color: var(--light);
}

.profile-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.profile-link {
  transition-duration: 500ms;
}

.profile-link:hover {
  color: var(--accent);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  body {
    line-height: normal;
  }

  nav {
    width: 100%;
    height: 3rem;
    position: fixed;
    z-index: 1;
    padding: 2rem 4rem;
    background-color: var(--dark);
  }
  
  nav > ul {
    justify-content: space-around;
    gap: 2rem;
  }

  .skills-container, .projects-container, .input-container {
    display: flex;
    flex-flow: column;
  }

  .project {
    max-width: none;
    grid-template-columns: 30% auto 1rem;
    align-items: center;
  }

  li {
    list-style-type: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
